---
layout: base
title: alifeee's weeknotes
css:
- /stylesheet_index.css
- /colours.css
js:
- /alpine.min.js
- /weeknumber.js
---
<section id="introduction">
  <p>
    Welcome! Here you will find my weeknotes. I usually write them from my phone at the end of a week.
  </p>
  <section class="other-sites">
    <h2>Why not check out:</h2>
    <div class="other-sites-list">
      <a class="website" href="https://alifeee.co.uk">
        <span class="title">alifeee.co.uk</span>
        <p class="desc">
          creations, inventions, and madness from the mind of alifeee
        </p>
      </a>
      <div class="blog-post">
        <a class="link" href="https://blog.alifeee.co.uk">
          <div class="preview-image">
            <img src="http://alifeee.co.uk/profile-picture.png" alt="drawing of author" />
          </div>
          <div class="info">
            <span class="title">my blog !!!</span>
            <p class="date">blog.alifeee.co.uk</p>
          </div>
        </a>
      </div>
      <a class="notes" href="https://blog.alifeee.co.uk/notes/">
        <p class="n1">notes by alifeee</p>
        <p class="n2">
          short, text-only notes, mostly about programming.
        </p>
      </a>
    </div>
  </section>
  <h2>What are weeknotes?</h2>
  <p>
    Briefly, "I write about what I've been doing this week". Initially inspired by <a
      href="https://sometimes.digital/">nonnullish</a>, who <a
      href="https://sometimes.digital/posts/about-weeknotes/">explains weeknotes</a>, along with the <a
      href="https://indieweb.org/week_note">explanation on the IndieWeb wiki</a>.
  </p>
  <p>
    Today, the <a href="https://en.wikipedia.org/wiki/ISO_week_date">ISO week number</a> is <span id="iso-week-number">
      <noscript>[this requires JavaScript - <a href="https://www.epochconverter.com/weeks/">see on
          epochconverter</a>]</noscript></span>.
  </p>
</section>
<div id="weeknotes-end" class="weeknotes-fake" style="grid-template-columns:456px{{#each (range topicstable.maxlength)}} auto{{/each}}">
  <div style="grid-row:1; display: flex; flex-direction:column;" class="weeknote">
    <h2>
      2025 week… 17?
    </h2>
    <time class="date">2025-04-21</time>
    <p>
      I failed to post 3 weeknotes in a row. This triggered a weeknote-kill-switch which has disabled all weeknotes and stopped me from posting. I hope you enjoyed the journey.
      <br>
      <br>
      alifeee
    </p>
  </div>
  <div class="tracker no-notes">no topics yet... <a
      href="https://github.com/alifeee/weeknotes/blob/main/_data/topics.yaml">add some?</a></div>
</div>
<section id="weeknotes" style="grid-template-columns:auto{{#each (range topicstable.maxlength)}} auto{{/each}}"
  x-data="{hover: null}">
  {{#each (reversed collections.weeknotes)}}
  <div href="{{ data.page.fileSlug }}" style="grid-row:{{add @index 1}}"
    class="weeknote {{#if (gt (daysago data.page.fileSlug) ../archive.archive_older_than_days)}}archived{{/if}}">
    <h2>
      {{ weeknoteTitle data.page.fileSlug }}
    </h2>
    {{{ data.wordcount }}}
    {{{ data.links }}}
    <time class="date">{{ dateDisplay data.page.date }}</time>
  </div>
  {{#if (get ../topicstable.table data.page.fileSlug)}}
  {{#each (get ../topicstable.table data.page.fileSlug)}}
  <div class="tracker">
    {{#if topic}}
    <span class="tag t-{{slugify topic}}" style="--r:{{mult (add (random) -0.5) 5}}deg"
      x-on:mouseover="hover='{{slugify topic}}'" :class="'{{slugify topic}}'==hover?'thick':''">{{topic}}</span>
    {{/if}}
    {{#if goUp}}
    <div class="up u-{{slugify topic}}" style="--m:{{goUp}}" x-on:mouseover="hover='{{slugify topic}}'"
      :class="'{{slugify topic}}'==hover?'thick':''"></div>
    {{/if}}
  </div>
  {{/each}}
  {{else}}
  <div class="tracker no-notes">no topics yet... <a
      href="https://github.com/alifeee/weeknotes/blob/main/_data/topics.yaml">add some?</a></div>
  {{/if}}
  {{/each}}
</section>
