---
layout: base
title: alifeee's weeknotes
css:
- /stylesheet_index.css
- /colours.css
js:
- /alpine.min.js
---
<section id="introduction">
  <p>
    Welcome! Here you will find my weeknotes. I usually write them from my phone at the end of a week.
  </p>
  <h2>What are weeknotes?</h2>
  <p>
    Briefly, "I write about what I've been doing this week". Initially inspired by <a href="https://sometimes.digital/">nonnullish</a>, who <a href="https://sometimes.digital/posts/about-weeknotes/">explains weeknotes</a>, along with the <a href="https://indieweb.org/week_note">explanation on the IndieWeb wiki</a>.
  </p>
</section>
<section id="weeknotes" style="grid-template-columns:auto{{#each (range topicstable.maxlength)}} auto{{/each}}" x-data="{hover: null}">
  {{!-- <span x-text="hover"></span> --}}
  {{#each (reversed collections.weeknotes)}}
    <div style="grid-row:{{add @index 1}}" class="weeknote {{#if (gt (daysago data.page.fileSlug) ../archive.archive_older_than_days)}}archived{{/if}}">
      <h2>
        {{ weeknoteTitle data.page.fileSlug }}
      </h2>
      {{{ data.wordcount }}}
      {{{ data.links }}}
      <time class="date">{{ dateDisplay data.page.date }}</time>
      <a href="{{ data.page.fileSlug }}"></a>
    </div>
    {{#if (get ../topicstable.table data.page.fileSlug)}}
      {{#each (get ../topicstable.table data.page.fileSlug)}}
      <div class="tracker">
        {{#if topic}}
          <span class="tag t-{{slugify topic}}" style="--r:{{mult (add (random) -0.5) 5}}deg" x-on:mouseover="hover='{{slugify topic}}'" :class="'{{slugify topic}}'==hover?'thick':''">{{topic}}</span>
        {{/if}}
        {{#if goUp}}
          <div class="up u-{{slugify topic}}" style="--m:{{goUp}}" x-on:mouseover="hover='{{slugify topic}}'" :class="'{{slugify topic}}'==hover?'thick':''"></div>
        {{/if}}
      </div>
      {{/each}}
    {{else}}
      <div class="tracker no-notes">no topics yet...</div>
    {{/if}}
  {{/each}}
</section>
