---
layout: base
title: alifeee's weeknotes
css:
- /stylesheet_index.css
---
<section id="introduction">
  <p>
    Welcome! Here you will find my weeknotes. I usually write them from my phone at the end of a week.
  </p>
</section>
<section id="weeknotes">
  {{#each (reversed collections.weeknotes)}}
  <div class="weeknote">
    <h2>
      {{ weeknoteTitle data.page.fileSlug }}
    </h2>
    {{{ data.wordcount }}}
    {{{ data.links }}}
    <time class="date">{{ dateDisplay data.page.date }}</time>
    <a href="{{ data.page.fileSlug }}">
      {{!-- just for compatibility with no CSS --}}
      <span >{{ weeknoteTitle data.page.fileSlug }}</span>
    </a>
  </div>
  {{/each}}
</section>