---
css:
- /stylesheet.css
---
<html lang="en">

<head>
  <title>
    {{#if title}}
    {{title}}
    {{else}}
    alifee's weeknotes -
    {{page.fileSlug}}
    {{/if}}
  </title>
  <!-- browser metas -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="alifeee's weeknotes" />

  <!-- favicon -->
  <link rel="icon" type="image/png" href="../favicon.png" />

  <!-- rss -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS"
    href="/feed.xml"
  />

  <!-- stylesheets -->
  {{#each css}}
  <link rel="stylesheet" href="{{this}}" />
  {{/each}}

  <!-- scripts -->

  <!-- web components -->
  <script src="/word-count.js"></script>
</head>

<body>
  <header>
    <a href="/">
      <h1>
        alifeee's weeknotes
      </h1>
    </a>
    <a id="rss" href="/feed.xml">
      <img alt="_RSS_" src="/rss.svg" />
    </a>
  </header>
  

  <main>
    {{#if comments}}
      <word-count parent="main"></word-count>
    {{/if}}
    {{{content}}}
    {{#if comments}}
    <h1>Comments</h1>
    <p>
      Email me :) -> <a href="mailto:alifeee.web@outlook.com">alifeee.web@outlook.com</a> or message me on any social :) -> <a href="https://linktr.ee/alifeee">https://linktr.ee/alifeee</a>
    </p>
    {{/if}}
  </main>

  <footer>
    <hr>
    <nav>
      <a href="/">alifeee's weeknotes</a>
      <a href="https://alifeee.co.uk">alifeee's website</a>
      <a href="https://blog.alifeee.co.uk">alifeee's blog</a>
      <a href="https://github.com/alifeee">alifeee's github</a>
      <a href="https://mastodon.social/@alifeee">alifeee's mastodon</a>
      <a href="https://linktr.ee/alifeee">alifeee's linktree</a>
    </nav>
  </footer>
</body>

</html>