---
css:
- /stylesheet.css
---
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    {{#if title}}
    {{title}}
    {{else}}
    alifee's weeknotes -
    {{page.fileSlug}}
    {{/if}}
  </title>
  {{! mobile }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{#each css}}
  <link rel="stylesheet" href="{{this}}" />
  {{/each}}
</head>

<body>
  <header>
    <a href="/">
    <h1>
        alifeee's weeknotes
    </h1>
    </a>
    <a id="rss" href="/feed.xml">
      <img alt="_RSS_" src="/rss.svg" />
    </a>
  </header>

  <main>
    {{{content}}}
  </main>
</body>

</html>