---
css:
- /stylesheet.css
---
<html lang="en">

<head>
  <title>
    {{#if title}}
    {{title}}
    {{else}}
    alifee's weeknotes -
    {{page.fileSlug}}
    {{/if}}
  </title>
  <!-- browser metas -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="alifeee's weeknotes" />

      <!-- embed metas - https://ogp.me/ -->
    <meta property="og:title" content="alifeee's weeknotes" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://weeknotes.alifeee.co.uk" />
    <meta property="og:image" content="" />
    <meta
      property="og:description"
      content="My weeknotes !!!"
    />
    <meta property="og:locale" content="en_GB" />

  <!-- Mastodon author attribution -->
  <meta name="fediverse:creator" content="@alifeee@mastodon.social">

  <!-- favicon -->
  <link rel="icon" type="image/png" href="../favicon.png" />

  <!-- rss -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title="alifeee's weeknotes feed"
    href="/feed.xml"
  />

  <!-- stylesheets -->
  {{#each css}}
  <link rel="stylesheet" href="{{this}}" />
  {{/each}}

  <!-- scripts -->
  {{#each js}}
  <script src="{{this}}"></script>
  {{/each}}

  <!-- web components -->
  <script src="/word-count.js"></script>
</head>

<body>
  <header>
    <a href="/">
      <h1>
        alifeee's weeknotes
      </h1>
    </a>
    <a id="rss" href="/feed.xml">
      <img alt="_RSS_" src="/rss.svg" />
    </a>
  </header>
  

  <main>
    {{{content}}}
  </main>

  <footer>
    <hr>
    <nav>
      <a href="/">alifeee's weeknotes</a>
      <a href="https://alifeee.co.uk">alifeee's website</a>
      <a href="https://blog.alifeee.co.uk">alifeee's blog</a>
      <a href="https://github.com/alifeee">alifeee's github</a>
      <a href="https://mastodon.social/@alifeee">alifeee's mastodon</a>
      <a href="https://linktr.ee/alifeee">alifeee's linktree</a>
    </nav>
  </footer>
</body>

</html>