---
css:
- /stylesheet.css
---
<html lang="en">

<head>
  <title>
    {{#if title}}
    {{title}}
    {{else}}
    alifee's weeknotes -
    {{page.fileSlug}}
    {{/if}}
  </title>
  <!-- browser metas -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="alifeee's weeknotes" />

  <!-- favicon -->
  <link rel="icon" type="image/png" href="../favicon.png" />

  <!-- rss -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS"
    href="/feed.xml"
  />

  <!-- stylesheets -->
  {{#each css}}
  <link rel="stylesheet" href="{{this}}" />
  {{/each}}

  <!-- scripts -->
  <script data-goatcounter="https://alifeee-weeknotes.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

  <!-- web components -->
  <script src="/word-count.js"></script>
</head>

<body>
  <header>
    <a href="/">
      <h1>
        alifeee's weeknotes
      </h1>
    </a>
    <a id="rss" href="/feed.xml">
      <img alt="_RSS_" src="/rss.svg" />
    </a>
  </header>
  

  <main>
    {{#if comments}}
      <word-count parent="main"></word-count>
    {{/if}}
    {{{content}}}
    {{#if comments}}
    <script src="https://giscus.app/client.js" data-repo="alifeee/weeknotes" data-repo-id="R_kgDOK7knTw"
      data-category="comments" data-category-id="DIC_kwDOK7knT84Cb5SL" data-mapping="pathname" data-strict="1"
      data-reactions-enabled="1" data-emit-metadata="0" data-input-position="bottom" data-theme="light" data-lang="en"
      crossorigin="anonymous" async>
      </script>
    {{/if}}
  </main>

  <footer>
    <hr>
    <nav>
      <a href="/">alifeee's weeknotes</a>
      <a href="https://alifeee.co.uk" target="_blank">alifeee's website</a>
      <a href="https://blog.alifeee.co.uk" target="_blank">alifeee's blog</a>
      <a href="https://github.com/alifeee" target="_blank">alifeee's github</a>
      <a href="https://mastodon.social/@alifeee" target="_blank">alifeee's mastodon</a>
      <a href="https://linktr.ee/alifeee" target="_blank">alifeee's linktree</a>
    </nav>
  </footer>
</body>

</html>